{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    {{ toastr_options }}
                    console.log("The toastr options are:");
                    {% for category, message in messages %}
                        var message_string = '{{ message | replace("\'","") }}';
                        {% if category is undefined or category == 'message' %}
                            toastr.info(message_string, '{{ category|capitalize }}');
                        {% else %}
                            toastr.{{ category }}(message_string,'{{ category|capitalize }}');
                        {% endif %}
                    {% endfor %}
                });
            })(jQuery);
        </script>
    {% endif %}
{% endwith %}