{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    {#                    {{ toastr_options }}#}
                    {% for category, message in messages %}
                        {% if category is undefined or category == 'message' %}
                            toastr.info(\
                            '{{ message | replace("'","\\\\'") }}\', \'{{ category|capitalize }}\')
                        {% else %}
                            toastr.{{ category }}(\
                            '{{ message | replace("'","\\\\'") }}\', \'{{ category|capitalize }}\')
                        {% endif %}
                    {% endfor %}
                });
            })(jQuery);
        </script>
    {% endif %}
{% endwith %}