<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy"
          content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- default, black, black-translucent -->
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black-translucent">
    <title>
        {% block page_title %}
            Base Template
        {% endblock %}
    </title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/css/navbar_style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {{ toastr.include_toastr_css() }}
</head>
<body>
<script src="/static/js/jquery-2.1.3.min.js"></script>
<!-- Alerts -->
{% include 'partials/_messages_alerts.html' %}
{% import 'macros/_navbar.html' as nbar %}
{% block page_content %}
    {{ nbar.navigation_bar("no_company") }}
    <h2> This is BASE TEMPLATE</h2>
    <p> This page has no page content</p>
    <p>{{ msg }}</p>
{% endblock %}
{{ toastr.include_toastr_js() }}
<script src="/static/js/dev_app.js"></script>
</body>
</html>